<div *ngIf="report!==null" class="container">
    <div class="row">
      <div class="col md 2" *ngFor="let rep of report.list">
        <img [src]="'https://openweathermap.org/img/w/' + rep.weather[0].icon + '.png'" height="70px" width="70px"
          [alt]="rep.weather[0].description" [title]="rep.weather[0].description">
        <span [innerText]="rep.weather[0].description | titlecase"></span>
        <br>
        <table>
          <tbody>
            <tr>
              <td><span class="badge badge-dark">Temperature - </span></td>
              <td><span class="badge badge-success">{{rep.main.temp}} | &#8451;</span></td>
            </tr>
            <tr>
              <td><span class="badge badge-dark">Max Temp - </span></td>
              <td><span class="badge badge-success">{{rep.main.temp_max}} | &#8451;</span></td>
            </tr>
            <tr>
              <td><span class="badge badge-dark">Min Temp - </span></td>
              <td><span class="badge badge-success">{{rep.main.temp_min}} | &#8451;</span></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center;">
                  <span class="badge badge-danger">{{getTime(rep.dt)}} | HH:MM</span>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="error!==null">
    <h3>Sorry! The city is not found! Please try the correct city name!</h3>
  </div>